*                          @discordeno/team

/.github/CODEOWNERS        @Skillz4Killz @itohatweb
/.github/workflows/        @discordeno/team
/.yarn/                    @discordeno/team
/.yarnrc.yml               @discordeno/team
/codecov.yml               @discordeno/team
/packages/*/package.json   @discordeno/team
/package.json              @discordeno/team
/turbo.json                @discordeno/team
