# Allows quick testing of changes and keeps stuff like tokens private
debug.ts
./configs.ts
.env

# npm stuff
.npmignore
npm/

# MacOS is weird
.DS_Store

# benchmark db and output
db
db.tar.gz
output.txt