# Include any files or directories that you don't want to be copied to your
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/


# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git files
.git
.gitignore

# Docker files
.dockerignore
docker-compose*
compose.y*ml
Dockerfile*

# Local build files
node_modules
dist
.yarn

LICENSE
README.md
