name: E2E Test
permissions:
  contents: read
on:
  workflow_call:
    inputs:
      package:
        required: true
        type: string
      event_name:
        required: true
        type: string

jobs:
  e2e-test:
    name: E2E Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: yarn
      - run: yarn install --immutable
      - name: Turbo Cache
        id: turbo-cache
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-test:e2e-${{ inputs.package }}-${{ github.sha }}
      - name: Build dist cache
        if: steps.turbo-cache.outputs.cache-hit != 'true'
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-build-${{ github.sha }}
      - name: E2E Test
        if: ${{ inputs.event_name != 'pull_request' }}
        run: yarn test:e2e --cache-dir=".turbo" --filter=./packages/${{ inputs.package }}
        timeout-minutes: 5
        env:
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
          E2E_TEST_GUILD_ID: ${{ secrets.UNIT_TEST_GUILD_ID }}
          PROXY_REST_SECRET: ${{ secrets.PROXY_REST_SECRET }}
          PROXY_REST_URL: ${{ secrets.PROXY_REST_URL }}
      - name: Collect and upload the coverage report
        uses: codecov/codecov-action@v5
        if: ${{ inputs.event_name != 'pull_request' }}
        with:
          files: ./packages/${{ inputs.package }}/coverage/lcov.info
          flags: ${{ inputs.package }}-e2e,${{ inputs.package }}
          token: ${{ secrets.CODECOV_TOKEN }}
