name: E2E Test

on:
  workflow_call:
    inputs:
      package:
        required: true
        type: string
      event_name:
        required: true
        type: string

jobs:
  e2e-test:
    name: E2E Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v3
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - run: yarn install --immutable
      - name: Turbo Cache
        id: turbo-cache
        uses: actions/cache@v3
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-test:e2e-${{ inputs.package }}-${{ github.sha }}
      - name: Build dist cache
        if: steps.turbo-cache.outputs.cache-hit != 'true'
        uses: actions/cache@v3
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-build-${{ github.sha }}
      - uses: ahmadnassri/action-workflow-queue@v1
        if: ${{ inputs.event_name != 'pull_request' }}
      - name: E2E Test
        if: ${{ inputs.event_name != 'pull_request' }}
        run: yarn test:e2e --cache-dir=".turbo" --filter=./packages/${{ inputs.package }}
        timeout-minutes: 5
        env:
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
          E2E_TEST_GUILD_ID: ${{ secrets.UNIT_TEST_GUILD_ID }}
          PROXY_REST_SECRET: ${{ secrets.PROXY_REST_SECRET }}
          PROXY_REST_URL: ${{ secrets.PROXY_REST_URL }}
      - name: Collect and upload the coverage report
        uses: codecov/codecov-action@v3
        if: ${{ inputs.event_name != 'pull_request' }}
        with:
          files: ./packages/${{ inputs.package }}/coverage/lcov.info
          flags: ${{ inputs.package }}-e2e,${{ inputs.package }}
