name: Local Tests Only

on:
  push:
    paths:
      - "handlers/**"
      - "helpers/**"
      - "plugins/**"
      - "rest/**"
      - "tests/**"
      - "transformers/**"
      - "types/**"
      - "util/**"
      - "ws/**"
  pull_request:
    paths:
      - "handlers/**"
      - "helpers/**"
      - "plugins/**"
      - "rest/**"
      - "tests/**"
      - "transformers/**"
      - "types/**"
      - "util/**"
      - "ws/**"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        deno: ["v1.x"]
    steps:
      - uses: actions/checkout@v2
      - uses: denoland/setup-deno@main
        with:
          deno-version: ${{ matrix.deno }}
      - name: Cache dependencies
        run: deno cache mod.ts
      - name: Run Local tests that don't need Discord's API
        run: deno test -A tests/local.ts
