name: Benchmark with retry

on:
  pull_request:
  push:

jobs:
  benchmark-try-1:
    uses: ./.github/workflows/benchmark.yml

  benchmark-try-2:
    needs: benchmark-try-1
    if: ${{ needs.benchmark-try-1.outputs.cpuMatch == 'false' }}
    uses: ./.github/workflows/benchmark.yml

  benchmark-try-3:
    needs: benchmark-try-2
    if: ${{ needs.benchmark-try-2.outputs.cpuMatch == 'false' }}
    uses: ./.github/workflows/benchmark.yml

  benchmark-try-4:
    needs: benchmark-try-3
    if: ${{ needs.benchmark-try-3.outputs.cpuMatch == 'false' }}
    uses: ./.github/workflows/benchmark.yml

  benchmark-try-5:
    needs: benchmark-try-4
    if: ${{ needs.benchmark-try-4.outputs.cpuMatch == 'false' }}
    uses: ./.github/workflows/benchmark.yml

  benchmark-try-6:
    needs: benchmark-try-5
    if: ${{ needs.benchmark-try-5.outputs.cpuMatch == 'false' }}
    uses: ./.github/workflows/benchmark.yml

  benchmark-try-7:
    needs: benchmark-try-6
    if: ${{ needs.benchmark-try-6.outputs.cpuMatch == 'false' }}
    uses: ./.github/workflows/benchmark.yml

  benchmark-try-8:
    needs: benchmark-try-7
    if: ${{ needs.benchmark-try-7.outputs.cpuMatch == 'false' }}
    uses: ./.github/workflows/benchmark.yml

  benchmark-try-9:
    needs: benchmark-try-8
    if: ${{ needs.benchmark-try-8.outputs.cpuMatch == 'false' }}
    uses: ./.github/workflows/benchmark.yml

  benchmark-try-10:
    needs: benchmark-try-9
    if: ${{ needs.benchmark-try-9.outputs.cpuMatch == 'false' }}
    uses: ./.github/workflows/benchmark.yml
