name: Test

on:
  push:
    paths:
      - "plugins/**"
      - "src/**"
      - "tests/**"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        deno: ["v1.x"]
    steps:
      - uses: actions/checkout@v2
      - run: git submodule update --init --recursive
      - uses: denoland/setup-deno@main
        with:
          deno-version: ${{ matrix.deno }}
      - name: Cache dependencies
        run: deno cache mod.ts
      - name: Prepare configs file
        run: cp configs.example.ts configs.ts
      - name: Run test script for maintainers
        if: ${{ github.actor == 'Skillz4Killz' }}
        run: deno test --unstable --coverage=coverage -A tests/mod.ts
      - name: Create coverage report
        if: github.ref == 'refs/heads/main'
        run: deno coverage --exclude=tests ./coverage --lcov > coverage.lcov
      - name: Collect and upload the coverage report
        if: github.ref == 'refs/heads/main'
        uses: codecov/codecov-action@v1.0.10
        with:
          file: ./coverage.lcov
    env:
      DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
